%h2.title.no-border Oops.

%p That radio station couldn't be found, or there was a problem generating a playlist.

%p If you're sure that the Amazon S3 bucket exists, ensure that the permissions are 'world readable'.

%p <a href="#">Try again</a> or go to the <a href="/">homepage</a>.