:javascript
  var station = '#{@playlist.title}';

%h1.title= "you're listening to #{@playlist.title}"

%p.home <a href="/">&laquo; Back home?</a>

#controls
  #playpause-button.playing.button
    %a{:href => "#" }
  #fastforward-button.button
    %a{ :href => "#" }
  %span.cleardiv

#spinner
  %img{ :src => '/images/ajax-loader.gif' }